<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">
    <!--字符集过滤器-->
    <filter>
        <filter-name>CharSetFilter</filter-name>
        <filter-class>filter.charsetfilter.CharSetFilter</filter-class>
    </filter>
    <!--用户是否登录过滤器-->
    <filter>
        <filter-name>LoginFilter</filter-name>
        <filter-class>filter.loginfilter.LoginFilter</filter-class>
    </filter>


    <filter-mapping>
        <filter-name>CharSetFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>LoginFilter</filter-name>
        <url-pattern>/WEB-INF/myaccount/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>LoginFilter</filter-name>
        <servlet-name>UserInitMyAccountAction</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>LoginFilter</filter-name>
        <servlet-name>CartInitAction</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>LoginFilter</filter-name>
        <servlet-name>AddGoodsToCart</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>LoginFilter</filter-name>
        <servlet-name>SkipMyAccountAction</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>LoginFilter</filter-name>
        <servlet-name>SkipLoginIndexAction</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>LoginFilter</filter-name>
        <servlet-name>SkipCheckoutAction</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>LoginFilter</filter-name>
        <servlet-name>SkipMyAccountOrderAction</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>LoginFilter</filter-name>
        <servlet-name>SkipMyAccountDetailsAction</servlet-name>
    </filter-mapping>


    <listener>
        <listener-class>listening.AccountListener</listener-class>
    </listener>


    <!--页面初始化-->
    <servlet>
        <servlet-name>InitAction</servlet-name>
        <servlet-class>init.action.InitAction</servlet-class>
    </servlet>
    <!--ajax异步刷新标签-->
    <servlet>
        <servlet-name>RefreshTag</servlet-name>
        <servlet-class>ajax.RefreshTag</servlet-class>
    </servlet>
    <!--查询所有商品-->
    <servlet>
        <servlet-name>QueryGoodAction</servlet-name>
        <servlet-class>good.action.QueryGoodAction</servlet-class>
    </servlet>
    <!--验证码-->
    <servlet>
        <servlet-name>ImageAction</servlet-name>
        <servlet-class>login.imagecode.ImageAction</servlet-class>
    </servlet>
    <!--登录-->
    <servlet>
        <servlet-name>LoginAction</servlet-name>
        <servlet-class>login.action.LoginAction</servlet-class>
    </servlet>
    <!--登录ajax验证码正确性验证-->
    <servlet>
        <servlet-name>ImageCodeJudgeAction</servlet-name>
        <servlet-class>login.imagecode.ImageCodeJudgeAction</servlet-class>
    </servlet>
    <!--退出登录-->
    <servlet>
        <servlet-name>LoginOutAction</servlet-name>
        <servlet-class>login.action.LoginOutAction</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserInitMyAccountAction</servlet-name>
        <servlet-class>user.action.UserInitMyAccountAction</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CartInitAction</servlet-name>
        <servlet-class>user.action.CartInitAction</servlet-class>
    </servlet>
    <!--用户更改用户信息-->
    <servlet>
        <servlet-name>UpdataUserInfomation</servlet-name>
        <servlet-class>user.action.UpdataUserInfomation</servlet-class>
    </servlet>
    <!--添加商品到自己购物车-->
    <servlet>
        <servlet-name>AddGoodsToCart</servlet-name>
        <servlet-class>user.action.AddGoodsToCart</servlet-class>
    </servlet>
    <!--添加完后商品之后的操作-->
    <servlet>
        <servlet-name>AddGoodsToCartAfter</servlet-name>
        <servlet-class>user.action.AddGoodsToCartAfter</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ClearCheck</servlet-name>
        <servlet-class>user.action.ClearCheck</servlet-class>
    </servlet>
    <!--用户初次注册-->
    <servlet>
        <servlet-name>FirstSignUp</servlet-name>
        <servlet-class>user.action.FirstSignUp</servlet-class>
    </servlet>
    <!--判断用户是否存在-->
    <servlet>
        <servlet-name>UserIfExist</servlet-name>
        <servlet-class>user.ajax.UserIfExist</servlet-class>
    </servlet>
    <!--管理员界面打开初始化-->
    <servlet>
        <servlet-name>AdminInitAction</servlet-name>
        <servlet-class>admin.action.AdminInitAction</servlet-class>
    </servlet>
    <!--数据库表格数据初始化-->
    <servlet>
        <servlet-name>AdminOrderTableInitAction</servlet-name>
        <servlet-class>admin.action.orders.AdminOrderTableInitAction</servlet-class>
    </servlet>
    <!--数据库表格信息更新-->
    <servlet>
        <servlet-name>AdminTableUpdate</servlet-name>
        <servlet-class>admin.action.AdminTableUpdate</servlet-class>
    </servlet>
    <!--goods货物为实现分页初始化action-->
    <servlet>
        <servlet-name>AdminGoodsTableInitAction</servlet-name>
        <servlet-class>admin.action.goods.AdminGoodsTableInitAction</servlet-class>
    </servlet>
    <!--加载用户管理所需要的用户信息-->
    <servlet>
        <servlet-name>AdminUserInitAction</servlet-name>
        <servlet-class>admin.action.user.AdminUserInitAction</servlet-class>
    </servlet>
    <!--管理员更新用户信息-->
    <servlet>
        <servlet-name>AdminUpdateUserInfo</servlet-name>
        <servlet-class>admin.action.user.AdminUpdateUserInfo</servlet-class>
    </servlet>
    <!--管理员删除用户-->
    <servlet>
        <servlet-name>AdminDeleteUser</servlet-name>
        <servlet-class>admin.action.user.AdminDeleteUser</servlet-class>
    </servlet>
    <!--管理员更新商品信息-->
    <servlet>
        <servlet-name>AdminUpdateGoods</servlet-name>
        <servlet-class>admin.action.goods.AdminUpdateGoods</servlet-class>
    </servlet>
    <!--管理员删除商品-->
    <servlet>
        <servlet-name>AdminDeleteGoods</servlet-name>
        <servlet-class>admin.action.goods.AdminDeleteGoods</servlet-class>
    </servlet>
    <!--管理员添加商品-->
    <servlet>
        <servlet-name>AdminAddGoods</servlet-name>
        <servlet-class>admin.action.goods.AdminAddGoods</servlet-class>
    </servlet>
    <!--管理员根据关键词查询-->
    <servlet>
        <servlet-name>AdminGoodsTableSearch</servlet-name>
        <servlet-class>admin.action.goods.AdminGoodsTableSearch</servlet-class>
    </servlet>
    <!--管理员初始化管理员账户信息-->
    <servlet>
        <servlet-name>AdminAdminInitAction</servlet-name>
        <servlet-class>admin.action.admin.AdminAdminInitAction</servlet-class>
    </servlet>
    <!--管理员更新管理员账户信息-->
    <servlet>
        <servlet-name>AdminUpdateAdminInfo</servlet-name>
        <servlet-class>admin.action.admin.AdminUpdateAdminInfo</servlet-class>
    </servlet>
    <!--管理员删除管理用户-->
    <servlet>
        <servlet-name>AdminDeleteAdmin</servlet-name>
        <servlet-class>admin.action.admin.AdminDeleteAdmin</servlet-class>
    </servlet>
    <!--管理员添加管理员用户-->
    <servlet>
        <servlet-name>AdminAddAdmin</servlet-name>
        <servlet-class>admin.action.admin.AdminAddAdmin</servlet-class>
    </servlet>
    <!--图片上传-->
    <servlet>
        <servlet-name>ImageUpLoad</servlet-name>
        <servlet-class>utility.ImageUpLoad</servlet-class>
    </servlet>
    <!--跳转部分-->
    <servlet>
        <servlet-name>SkipCheckoutAction</servlet-name>
        <servlet-class>skip.SkipCheckoutAction</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SkipLoginIndexAction</servlet-name>
        <servlet-class>skip.SkipLoginIndexAction</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SkipIndexAction</servlet-name>
        <servlet-class>skip.SkipIndexAction</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SkipMyAccountAction</servlet-name>
        <servlet-class>skip.SkipMyAccountAction</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SkipSignUpAction</servlet-name>
        <servlet-class>skip.SkipSignUpAction</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SkipMyAccountOrderAction</servlet-name>
        <servlet-class>skip.SkipMyAccountOrderAction</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SkipMyAccountDetailsAction</servlet-name>
        <servlet-class>skip.SkipMyAccountDetailsAction</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserUpdateOrderAction</servlet-name>
        <servlet-class>user.action.UserUpdateOrderAction</servlet-class>
    </servlet>
    <!--管理员删除订单表-->
    <servlet>
        <servlet-name>AdminOrderTableDeleteAction</servlet-name>
        <servlet-class>admin.action.orders.AdminOrderTableDeleteAction</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>QueryGoodsAction</servlet-name>
        <servlet-class>good.action.QueryGoodsAction</servlet-class>
    </servlet>
    <!--添加商品时候的图屁啊异步传输-->
    <servlet>
        <servlet-name>ImageUpLoad2</servlet-name>
        <servlet-class>utility.ImageUpLoad2</servlet-class>
    </servlet>
    <!--所有商品的分类-->
    <servlet>
        <servlet-name>ShopPage</servlet-name>
        <servlet-class>good.action.ShopPage</servlet-class>
    </servlet>
    <!--商品类别更新-->
    <servlet>
        <servlet-name>ShopUpdata</servlet-name>
        <servlet-class>good.action.ShopUpdata</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>AdminRecommendAction</servlet-name>
        <servlet-class>admin.action.admin.AdminRecommendAction</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>InitAction</servlet-name>
        <url-pattern>/InitAction</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ImageAction</servlet-name>
        <url-pattern>/ImageAction</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RefreshTag</servlet-name>
        <url-pattern>/RefreshTag</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>QueryGoodAction</servlet-name>
        <url-pattern>/QueryGoodAction</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginAction</servlet-name>
        <url-pattern>/LoginAction</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ImageCodeJudgeAction</servlet-name>
        <url-pattern>/ImageCodeJudgeAction</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginOutAction</servlet-name>
        <url-pattern>/LoginOutAction</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserInitMyAccountAction</servlet-name>
        <url-pattern>/UserInitMyAccountAction</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CartInitAction</servlet-name>
        <url-pattern>/CartInitAction</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdataUserInfomation</servlet-name>
        <url-pattern>/UpdataUserInfomation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddGoodsToCart</servlet-name>
        <url-pattern>/AddGoodsToCart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddGoodsToCartAfter</servlet-name>
        <url-pattern>/AddGoodsToCartAfter</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ClearCheck</servlet-name>
        <url-pattern>/ClearCheck</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FirstSignUp</servlet-name>
        <url-pattern>/FirstSignUp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserIfExist</servlet-name>
        <url-pattern>/UserIfExist</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminInitAction</servlet-name>
        <url-pattern>/AdminInitAction</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminOrderTableInitAction</servlet-name>
        <url-pattern>/AdminOrderTableInitAction</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminTableUpdate</servlet-name>
        <url-pattern>/AdminTableUpdate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminGoodsTableInitAction</servlet-name>
        <url-pattern>/AdminGoodsTableInitAction</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminUserInitAction</servlet-name>
        <url-pattern>/AdminUserInitAction</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminUpdateUserInfo</servlet-name>
        <url-pattern>/AdminUpdateUserInfo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminDeleteUser</servlet-name>
        <url-pattern>/AdminDeleteUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminUpdateGoods</servlet-name>
        <url-pattern>/AdminUpdateGoods</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminDeleteGoods</servlet-name>
        <url-pattern>/AdminDeleteGoods</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminAddGoods</servlet-name>
        <url-pattern>/AdminAddGoods</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminGoodsTableSearch</servlet-name>
        <url-pattern>/AdminGoodsTableSearch</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminAdminInitAction</servlet-name>
        <url-pattern>/AdminAdminInitAction</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminUpdateAdminInfo</servlet-name>
        <url-pattern>/AdminUpdateAdminInfo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminDeleteAdmin</servlet-name>
        <url-pattern>/AdminDeleteAdmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminAddAdmin</servlet-name>
        <url-pattern>/AdminAddAdmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ImageUpLoad</servlet-name>
        <url-pattern>/ImageUpLoad</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SkipCheckoutAction</servlet-name>
        <url-pattern>/SkipCheckoutAction</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SkipLoginIndexAction</servlet-name>
        <url-pattern>/SkipLoginIndexAction</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SkipIndexAction</servlet-name>
        <url-pattern>/SkipIndexAction</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SkipMyAccountAction</servlet-name>
        <url-pattern>/SkipMyAccountAction</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SkipSignUpAction</servlet-name>
        <url-pattern>/SkipSignUpAction</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SkipMyAccountOrderAction</servlet-name>
        <url-pattern>/SkipMyAccountOrderAction</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SkipMyAccountDetailsAction</servlet-name>
        <url-pattern>/SkipMyAccountDetailsAction</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserUpdateOrderAction</servlet-name>
        <url-pattern>/UserUpdateOrderAction</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminOrderTableDeleteAction</servlet-name>
        <url-pattern>/AdminOrderTableDeleteAction</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>QueryGoodsAction</servlet-name>
        <url-pattern>/QueryGoodsAction</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ImageUpLoad2</servlet-name>
        <url-pattern>/ImageUpLoad2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShopPage</servlet-name>
        <url-pattern>/ShopPage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShopUpdata</servlet-name>
        <url-pattern>/ShopUpdata</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminRecommendAction</servlet-name>
        <url-pattern>/AdminRecommendAction</url-pattern>
    </servlet-mapping>

    <welcome-file-list>
        <welcome-file>InitAction</welcome-file>
    </welcome-file-list>
</web-app>